.ios-switcher {
  border: 1px solid rgba(48, 51, 55, .1);
  @include border-radius(14px);
  width: 54px;
  height: 28px;
  position: relative;

  &:after {
    position: absolute;
    top: 2px;
    left: 3px;
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    background-color: rgba(48, 51, 55, .3);
    @include border-radius(14px);
    cursor: pointer;
    transition: .2s;
  }

  &.active:after {
    left: auto;
    left: 27px;
    background-color: #6fa98f;
  }
}
