.about-header,
.content-header {
  height: 266px;
  background: url(../static/images/about-bg-pattern.jpg) repeat center 100px;
  text-align: center;
  position: relative;

  .title {
    color: #fff;
    font-size: 4.333rem;
    font-family: "Proxima Nova Bold";
    font-weight: 700;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 52px;
    text-align: center;

    &:before {
      display: block;
      content: url(../static/images/about-icon.png);
      width: 94px;
      height: 94px;
      position: absolute;
      left: 50%;
      top: -109px;
      margin-left: -45px;
    }
  }
}


.content-header--collections {
  background: url(../static/images/collection-pattern.jpg) repeat center 100px;

  .title {
    &:before {
      content: url(../static/images/collections-icon.png);
      top: -92px;
    }
  }
}
