.basket-view {
  background-color: #e9ecf2;

  .basket-item {
    height: 180px;
    border-bottom: 1px solid #d9dfe8;
    position: relative;
    padding: 74px 0 0 215px;
    color: #303337;
    overflow: hidden;

    h3 {
      font-size: 1.667rem;
      margin: 0;

      a {
        color: $panelLinkHoverColor;
      }
    }

    .price {
      position: absolute;
      right: 30px;
      top: 74px;
      font-size: 1.667rem;
    }

    .image {
      width: 152px;
      text-align: center;
      position: absolute;
      top: 42px;
      left: 30px;

      .tshirt {
        width: 152px;
      }

      .poster {
        width: 100px;
        padding: 21px 18px;
      }
    }

    .remove-link {
      text-transform: uppercase;
      color: #ab100a;
      letter-spacing: .1em;
      font-size: 0.8333rem;
      position: absolute;
      right: 30px;
      bottom: 30px;
      cursor: pointer;
    }

    .switchers {
      margin-top: 45px;
    }

  }

  .total-block  {
    background-color: #d9dfe8;
    padding: 30px;
    @include clearfix;

    h3 {
      font-size: 1.667rem;
      font-weight: normal;
      margin-top: 0;
      width: 50%;
    }

    h4 {
      font-size: 1.667rem;
      font-family: "Proxima Nova Extrabold";
      margin: 0;
      width: 50%;
    }

    .total {
      display: inline-block;
      float: right;
    }

    .rounded-button {
      float: right;
    }
  }

  .count-changer {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8333rem;
    border: 1px solid #d6d9df;
    @include border-radius(20px);
    height: 28px;
    line-height: 28px;


    .action {
      color: #6fa98f;
      display: inline-block;
      height: 22px;
      width: 22px;
      font-size: 16px;
      line-height: 22px;
      cursor: pointer;
      font-weight: bold;
      background-color: #fff;
      @include border-radius(10px);
      text-align: center;
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin: 0 2px;
    }

    .text {
      margin: 0 10px;
      font-weight: bold;
    }
  }

  .switcher {
    margin-left: 10px;
  }
}

.delivery-total-block {
  background-color: #d9dfe8;
  padding: 30px;

  .rounded-button {
    height: 60px;
    line-height: 20px;
  }

  h3 {
    font-family: "Proxima Nova Extrabold";
    font-size: 1.25rem;
    color: #303337;

    .price {
      margin-left: 110px;
      font-size: 1.625rem;
    }
  }
}



.content-header--basket {
  background: #6fa98f url(../static/images/basket-pattern.png) repeat center 24px;
  height: 182px;

  .title {
    bottom: 40px;

    &:before {
      content: url(../static/images/basket-icon.png);
      top: -57px;
      margin-left: -46px;
    }
  }
}

.style__modern {
  .content-header--basket {
    background-color: #00e883;
  }

  .basket-item {
    h3 {
      a {
        color: #00e883;
      }
    }
  }

  .total-block .rounded-button {
    background-color: #00e883;
  }
}
