// -----------------------
.collection {
  position: relative;
  padding-top: 55px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  transition: height .5s;
  transition-delay: .5s;

  @include w750 {
    height: 310px;
  }
  @include w1000 {
    height: 310px;
  }
  @include w1200 {
    height: 365px;
  }
  @include w1900 {
    height: 470px;
  }

  &:hover {

    @include w750 {
      height: 400px;
    }
    @include w1000 {
      height: 400px;
    }
    @include w1200 {
      height: 500px;
    }
    @include w1900 {
      height: 610px;
    }
  }

  @include mobile {
    height: auto;
  }

  .likes-counter {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 30px;
    font-family: "Proxima Nova Bold";

    @include mobile {
      top: 25px;
      right: 16px;
    }
  }

  .collection-badge {
    position: absolute;
    left: 20px;
    top: 20px;

    @include mobile {
      top: 16px;
      left: 16px;
    }
  }

  .collection--title {
    margin: 0 150px;
    letter-spacing: .015em;
    color: #fff;
    text-align: center;
    font-family: 'Proxima Nova ExtraBold';
    line-height: .9em;
    min-height: 1.5em;

    @include w320 {
      font-size: 2.167rem;
      margin: 0 70px;
    }
    @include w750 {
      font-size: 2.167rem;
    }
    @include w1000 {
      font-size: 2.167rem;
    }
    @include w1200 {
      font-size: 2.167rem;
    }
    @include w1900 {
      font-size: 3.167rem;
    }
  }


  .cat-mask {
    position: absolute;
    width: 52px;
    height: 50px;
    left: 50%;
    margin-left: -26px;
    top: -8px;
    background: url(../static/images/cat-bg.png);
    background-size: 52px 50px;
    padding: 4px 4px 3px;
  }
}

.collection-items-wrap {
  margin: 25px 30px 0;
  @include clearfix;

  @include w320 {
    height: auto;
    margin: 25px 0 0;
    width: 100%;
  }
}
.collection-items {
  width: 100%;
  @include horizontal-list(0)
  margin: 0 auto;

  @include w320 {
    height: auto;
    width: 100%;
  }

  li {
    width: 33.3%;

    @include w320 {
      float: none;
      height: 290px;
      display: block;
      width: 100%;
      position: relative;
      overflow: hidden;

      &:after {
        display: block;
        content: "";
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        bottom: 0;
        left: -30px;
        right: -30px;
      }
    }


  }
}

.collection-item.collection-item--tshirt {
  // background: transparent url('../static/images/tshirt.png') left top no-repeat;
  // background-size: 100% auto;
  position: relative;

  @include w320 {
    width: 286px;
    height: 260px;
    margin: 0 auto;

    .collection-item--price {
      // right: 15px;
    }
  }

  @include w750 {
    width: 197px;
    height: 230px;

    .collection-item--price {
      // right: 15px;
    }
  }
  @include w1000 {
    width: 197px;
    height: 230px;

    .collection-item--price {
      // right: 15px;
    }
  }
  @include w1200 {
    width: 286px;
    height: 333px;

    .collection-item--price {
      // right: 15px;
    }
  }

  @include w1900 {
    width: 370px;
    height: 410px;

    .collection-item--price {
      // right: 30px;
      margin-left: 40px;
    }
  }

  img {
    display: block;
    margin: 0 auto;

    @include w320 {
      // width: 140px;
      // margin-top: 60px;
      zoom: .6;
    }
    @include w750 {
      // width: 100px;
      // margin-top: 40px;
      zoom: .45;
    }
    @include w1000 {
      // width: 100px;
      // margin-top: 40px;
      zoom: .45;
    }
    @include w1200 {
      height: 319px;
    }
    @include w1900 {
      height: 385px;
    }
  }
}

.collection-item.collection-item--poster {
  // background: transparent url('../static/images/poster.png') left top no-repeat;
  // background-size: 100% auto;

  .collection-item--price {
    right: -30px;
  }

  @include w320 {
    margin: 0 auto;
    width: 214px;
    height: 240px;
    top: 50px;

    .collection-item--price {
      top: 140px;
      // right: -30px;
    }
  }
  @include w750 {
    width: 161px;
    height: 230px;
  }
  @include w1000 {
    width: 161px;
    height: 230px;
  }
  @include w1200 {
    width: 214px;
    height: 307px;
  }
  @include w1900 {
    width: 277px;
    height: 400px;
  }

  img {
    display: block;
    margin: 0 auto;

    @include w320 {
      height: 250px;
      padding: 33px 28px;
    }
    @include w750 {
      height: 175px;
      padding: 24px 20px;
    }
    @include w1000 {
      height: 175px;
      padding: 24px 20px;
    }
    @include w1200 {
      height: 250px;
      padding: 33px 28px;
    }
    @include w1900 {
      height: 300px;
      padding: 42px 35px;
    }
  }
}

.collection-item.collection-item--wallpaper {
  // background: transparent url('../static/images/iphone.png') left top no-repeat;
  // background-size: 100% auto;

  .collection-item--price {
    // right: -30px;
  }

  @include w320 {
    margin: 0 auto;
    width: 170px;
    height: 260px;
    top: 50px;
  }
  @include w750 {
    width: 130px;
    height: 237px;
  }
  @include w1000 {
    width: 130px;
    height: 237px;
  }
  @include w1200 {
    width: 170px;
    height: 310px;
  }
  @include w1900 {
    width: 220px;
    height: 400px;
  }

  img {
    display: block;
    margin: 0 auto;

    @include w320 {
      height: 230px;
      padding: 43px 11px;
    }
    @include w750 {
      height: 159px;
      padding: 31px 8px;
    }
    @include w1000 {
      height: 159px;
      padding: 31px 8px;
    }
    @include w1200 {
      height: 230px;
      padding: 43px 11px;
    }
    @include w1900 {
      height: 283px;
      padding: 55px 14px;
    }
  }
}


.collection-item {
  text-align: center;
  position: relative;
  margin: 0 auto;

  @include mobile {
    width: 220px;
    margin: 0 auto;
  }

  span {
    display: inline-block;
  }

  .collection-item--price {
    position: absolute; z-index: 1000;
    top: 60%;

    left: 50%;
    margin-left: 50px;
    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 0 14px;
    height: 34px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2em;
    vertical-align: top;
    font-family: 'Proxima Nova';

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 10px;
      height: 34px;
      right: -10px;
      top: 0;
      background:transparent url('../static/images/price-label.png') left top no-repeat;
        @include w750 {
          width: 7px;
          height: 24px;
          background-size: 7px 24px;
          right: -7px;
        }
        @include w1000 {
          width: 7px;
          right: -7px;
          height: 24px;
          background-size: 7px 24px;
        }
    }

    @include w320 {
      // top: 170px;
    }
    @include w750 {
      // top: 120px;
      font-size: 1rem;
      height: 24px;
      padding: 0 7px;
    }
    @include w1000 {
      // top: 120px;
      font-size: 1rem;
      height: 24px;
      padding: 0 7px;
    }
    @include w1200 {
      // top: 180px;
      // bottom: 100px;
    }
    @include w1900 {
      // bottom: 100px;
    }

    .rub-sign {
      margin-left: 3px;
    }
  }

  .more-button {
    position: absolute;
    z-index: 1500;
    left: 50%;
    margin-left: -125px;
    width: 200px;
    visibility: hidden;

    svg {
      position: absolute;
      right: -34px;
      z-index: 1;
      transform: scale(1.3);
      top: 14px;
    }

    @include mobile {
      display: none;
    }

    @include w750 {
      top: 120px;
      width: 160px;
      margin-left: -100px;
    }
    @include w1000 {
      top: 120px;
      width: 160px;
      margin-left: -100px;
    }
    @include w1200 {
      top: 180px;
    }
    @include w1900 {
      top: 250px;
    }
  }

  &:hover {
    .collection-item--price {
      display: none;

      @include w320 {
        display: block;
      }
      @include w750 {
        display: block;
      }
    }
    .more-button {
      visibility: visible;

      @include w320 {
        display: none;
      }
      @include w750 {
        display: none;
      }
    }
  }
}




.collection-badge {
  width: 53px;
  height: 53px;
  text-align: center;
  line-height: 54px;
  font-family: "Proxima Nova Bold";
  position: relative;

  @include mobile {
    width: 41px;
    height: 41px;
    line-height: 42px;
    font-size: 0.75rem;
  }

  &.collection-badge--new {
    color: $collectionBadgeNewColor;
  }
  &.collection-badge--hot {
    color: $collectionBadgeHotColor;
  }

  .collection-badge--title {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .collection-badge--points-wrap {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 43px;
    height: 43px;

    @include mobile {
      svg {
        width: 41px;
        height: 41px;
      }
    }
  }

  .collection-badge--points {
    fill: none;
    stroke-linecap: round;
    stroke-width: 1px;
    stroke-dasharray: 0.001 2;

    &.collection-badge--points-new {
      stroke: $collectionBadgeNewColor;
    }
    &.collection-badge--points-hot {
      stroke: $collectionBadgeHotColor;
    }
    &.collection-badge--points-announcement {
      stroke: #000;
    }
  }
}
// -----------------------

.collection--announcement {
  height: 365px;
  position: relative;
  z-index: 10;
  padding-top: 50px;
  clear: both;

  &:hover {
    height: 365px;
  }

  h5 {
    color: #fff;
    font-size: 1.667rem;
    text-align: center;
    margin: 20px 0 16px;

    @include w320 {
      font-size: 1.167rem;
      font-family: "Proxima Nova Bold";
    }
  }

  .subscribe-form {
    margin: 20px auto 0;
    width: 670px;

    @include w320 {
      height: 40px;
      width: 290px;
    }
  }
}


//-----------------
// Subscribe input
// ----------------
.subscribe-form {
  width: 100%;
  height: 60px;

  @include w320 {
    height: 40px;
  }

  .input {
    display: inline-block;
    height: 100%;
    width: calc(100% - 60px);
    background-color: #303337;
    padding: 0 30px;
    vertical-align: top;
    position: relative;

    @include w320 {
      top: 60px;
      padding: 0 10px;
      width: calc(100% - 40px);
    }

    input {
      border: 0;
      background: transparent;
      color: #fff;
      height: 100%;
      line-height: 60px;
      width: 100%;
      outline: none;
      font-size: 1.667rem;
      font-family: "Proxima Nova Light";

      @include w320 {
        line-height: 40px;
      }
    }

    label {
      font-size: 1.667rem;
      background-color: #303337;
      display: block;
      height: 60px;
      position: absolute;
      top: 0;
      left: 30px;
      right: 30px;
      line-height: 60px;
      color: #fff;

      @include w320 {
        background-color: transparent;
        text-align: center;
        font-size: 1.167rem;
        line-height: 1.5em;
        font-family: "Proxima Nova Bold";
        right: 0;
        top: -60px;
      }
    }
  }
  .button {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #80b89f;
    border: none;
    position: relative;

    @include w320 {
      width: 40px;
      height: 40px;
      top: 60px;
    }
  }
}

.style__modern {
  .input {
    background-color: #330354;
    label {
      background-color: #330354;

      @include w320 {
        background-color: transparent;
      }
    }
  }
  .button {
    background-color: #00e883;
  }
}


//-----------------
// Countdown
// ----------------
.countdown {
  text-align: center;
  color: #303337;
  font-family: "Proxima Nova ExtraBold";
  font-size: 5.667rem;
  line-height: 3.667rem;
  vertical-align: top;
  word-spacing: -4px;

  span {
    display: inline-block;
  }
  @include w320 {
    font-size: 2.833rem;
    line-height: 1.667rem;
  }

  .countdown-block {
    display: inline-block;
    letter-spacing: normal;
    color: #fff;
    vertical-align: top;
    width: 140px;
    text-align: center;
    letter-spacing: .05em;

    span {
      color: #fff !important;
    }
    @include w320 {
      width: 70px;
    }

  }

  .countdown-text {
    font-size: 1.667rem;
    letter-spacing: .2em;
    text-transform: uppercase;

    @include w320 {
      font-size: 0.8333rem;
    }
  }
}


.style__modern {
  .countdown {
    span {
      color: #330354;
    }
  }
}
