$bodyBgColor: #e9ecf2;

$mainMenuBgColor: #191C20;
$mainMenuDefaultColor: #6f7072;

$panelBgColor: #303337;
$panelFgColor: #fff;
$panelLinkHoverColor: #82B79F;

$footerFgColor: #4b5158;
$footerBgColor: #030303;

$pageHeaderHeight: 70px;
$pageNavHeight: 60px;

$collectionBadgeNewColor: #00ccff;
$collectionBadgeHotColor: #ec3030;

$vintageTshirtBgColor: #6492b8;
$modernTshirtBgColor: #0081ff;

$vintageWallpaperBgColor: #e7c55a;
$modernWallpaperBgColor: #ea7838;

$vintagePosterBgColor: #7bb764;
$modernPosterBgColor: #079690;


@font-face {
  font-family: 'Proxima Nova';
  src: url('static/fonts/proximanova-reg-webfont.eot');
  src: url('static/fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('static/fonts/proximanova-reg-webfont.woff2') format('woff2'),
       url('static/fonts/proximanova-reg-webfont.woff') format('woff'),
       url('static/fonts/proximanova-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('static/fonts/proximanova-light-webfont.eot');
  src: url('static/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('static/fonts/proximanova-light-webfont.woff2') format('woff2'),
       url('static/fonts/proximanova-light-webfont.woff') format('woff'),
       url('static/fonts/proximanova-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('static/fonts/proximanova-bold-webfont.eot');
  src: url('static/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('static/fonts/proximanova-bold-webfont.woff2') format('woff2'),
       url('static/fonts/proximanova-bold-webfont.woff') format('woff'),
       url('static/fonts/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExtraBold';
  src: url('static/fonts/proximanova-xbold-webfont.eot');
  src: url('static/fonts/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('static/fonts/proximanova-xbold-webfont.woff2') format('woff2'),
       url('static/fonts/proximanova-xbold-webfont.woff') format('woff'),
       url('static/fonts/proximanova-xbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Black';
  src: url('static/fonts/proximanova-black-webfont.eot');
  src: url('static/fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('static/fonts/proximanova-black-webfont.woff2') format('woff2'),
       url('static/fonts/proximanova-black-webfont.woff') format('woff'),
       url('static/fonts/proximanova-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'mixins';
  @import 'form';
  @import 'switcher';
  @import 'header';
  @import 'main-menu';
  @import 'registration';
  @import 'footer';
  @import 'components/ios-switcher';
  @import 'components/select';

  @import 'static-page';
  @import 'instagram-block';
  @import 'panel';
  @import 'index';
  @import 'about';
  @import 'feedback';
  @import 'tshirts';
  @import 'wallpapers';
  @import 'posters';
  @import 'collections';
  @import 'collectionView';
  @import 'basket';
  @import 'delivery';
  @import 'listing';
  @import 'wallpapers-widget';
  @import 'likesBlock';
  @import 'saleBlock';
  @import 'otherTypes';
  @import 'loading';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
    background-color: $mainMenuBgColor;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 12px;
    min-width: 320px;
    font-family: 'Proxima Nova';
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    color: $panelLinkHoverColor;
  }


@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.mouse {
  // animation: mouse 1s ease infinite;
}

.layout {
  min-width: 320px;
  height: 100%;
  background-color: $bodyBgColor;
  right: 0;
  position: relative;

  @include w1200 {
    margin-right: 200px;
  }
  @include w1900 {
    margin-right: 300px;
  }
}

.label-title {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #303337;
  display: block;
  margin: 0 0 15px 1px;
}

.wallpaper {
  background: transparent url(../static/images/iphone.png) left top no-repeat;
  padding: 135px 35px;
  background-size: 100%;
  box-sizing: content-box;
}
.poster {
  background: transparent url(../static/images/poster.png) left top no-repeat;
  background-size: 100%;
  padding: 103px 85px;
  box-sizing: content-box;
}



// ------------
.large-button {
  display: block;
  border: 3px solid #fff;
  color: #fff;
  height: 50px;
  line-height: 44px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.667rem;
  position: relative;
  z-index: 2;
}
.large-button:hover,
.large-button-filled {
  color: #fff;
  border-color: #82B79F;
  background-color: #82B79F;
}

.style__modern {
  .large-button:hover,
  .large-button-filled {
    background-color: #00e883;
    border-color: #00e883;
  }
}

.more-button {
  height: 50px;
  line-height: 50px;
  @include border-left-radius(5px);
  border-right: 1px solid #73a58f;
  color: #fff;
  font-size: 1.667rem;
  text-align: center;
  width: 160px;
  background-color: #80b89f;
  font-family: "Proxima Nova Bold";

  &:hover {
    color: #fff;
  }

  &:after {
    @include border-right-radius(5px);
    display: block;
    content: "";
    width: 49px;
    height: 50px;
    background-color: #80b89f;
    right: -50px;
    top: 0;
    position: absolute;
  }
}

.style__modern {
  .more-button {
    background-color: #00e883;

    &:after {
      background-color: #00e883;
    }
  }
}

.rounded-button {
  background-color: #80b89f;
  color: #fff;
  text-decoration: none;
  font-size: 2.167rem;
  font-weight: bolder;
  padding: 20px 30px;
  @include border-radius(5px)
}
.style__modern {
  .rounded-button {
    background-color: #00e883;
  }
}




.likes-counter {
  color: #fff;
  height: 18px;
  line-height: 18px;

  span, img {
    vertical-align: middle;
    line-height: 18px;
  }
  span {
    margin-right: 9px;
  }
}


.item-banners {
  font-size: 0;
  font-family: "Proxima Nova";

  .item-banner {
    height: 120px;
    line-height: 110px;
    width: 50%;
    display: inline-block;
    font-size: 2.167rem;
    text-align: center;
    color: #fff;
  }

  .item-banner--tshirts {
    background: $vintageTshirtBgColor url(../static/images/tshirt-bg.png) repeat center center;
    background-size: 80px auto;
  }

  .item-banner--posters {
    background: $vintagePosterBgColor url(../static/images/poster-bg.png) repeat center center;
  }

  .item-banner--wallpapers {
    background: $vintageWallpaperBgColor url(../static/images/wallpaper-bg.png) repeat center center;
    background-size: 80px auto;
  }
}


.style__modern {
  .item-banner--tshirts {
    background-color: $modernTshirtBgColor;
  }
  .item-banner--wallpapers {
    background-color: $modernWallpaperBgColor;
  }
  .item-banner--posters {
    background-color: $modernPosterBgColor;
  }
}
}
