.feedback-header {
  height: 182px;
  background: #6fa98f url(../static/images/feedback-bg.png) repeat center 100px;
  text-align: center;
  position: relative;

  .title {
    color: #fff;
    font-size: 4.333rem;
    font-family: Proxima Nova;
    font-weight: 700;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    text-align: center;

    &:before {
      display: block;
      content: url(../static/images/feedback-icon.png);
      width: 50px;
      height: 56px;
      position: absolute;
      left: 50%;
      top: -64px;
      margin-left: -24px;
    }
  }
}

.feedback-content {
  position: relative;
  // @include clearfix;

  .feedback-form {
    padding: 40px 30px;
    width: 100%;
    overflow: hidden;
    @include clearfix;
    background-color: #e9ecf2;

    form {
      width: 100%;
      @include clearfix;
    }

    @include w1200 {
      margin-right: 0;
    }
    @include w1900 {
      margin-right: 30%;
      width: 70%;
    }

    .feedback-form--left-block {
      float: left;
      width: 49%;

      @include w320 {
        width: 100%;
        float: none;
      }
    }

    .feedback-form--right-block {
      float: right;
      width: 49%;

      @include w320 {
        width: 100%;
        float: none;
      }
    }

    .form-item {
      margin-bottom: 40px;
    }

    .send-button {
      clear: both;
      outline: none;
    }
  }


  .feedback-contacts {
    text-align: center;
    background-color: #d9dfe8;
    padding: 30px;

    @include w1200 {
      width: 100%;
      position: static;
    }

    @include w1900 {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30%;
    }

    h3 {
      font-weight: bolder;
      font-size: 1.667rem;
    }

    .phone {
      font-size: 1.667rem;
      font-weight: bold;
    }

    a {
      font-size: 1.667rem;
      color: #6fa98f;
      font-weight: bolder;
    }

    .feedback-contacts--item {
      margin-bottom: 30px;
    }
  }


  .delivery-input {
    label {
      font-size: 1.25rem;
      letter-spacing: normal;
      text-transform: none;
    }
    h5 {
      text-transform: uppercase;
      letter-spacing: .2em;
      color: #303337;
      display: block;
      margin: 0;
    }
    h6 {
      text-transform: uppercase;
      font-family: "Proxima Nova Extrabold";
      letter-spacing: .2em;
      margin: 0 0 20px;
      font-size: 1rem;
      color: 303337px;
    }
  }

  .delivery-registration {
    font-size: 1.667rem;
    margin-bottom: 14px !important;
    color: #303337;

    .ios-switcher {
      display: inline-block;
      float: right;
    }
  }


  input[type="radio"] {
    float: left;
    margin-left: -40px;

    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.2),
                0 0 0 1px hsla(0,0%,0%,.1);
    cursor: pointer;
    display: inline-block;
    height: 22px;
    margin-right: 15px;
    position: relative;
    width: 22px;
    -webkit-appearance: none;
    outline: none;
  }
  input[type="radio"]:after {
    background-color: transparent;
    border-radius: 25px;
    content: '';
    display: block;
    height: 12px;
    left: 5px;
    position: relative;
    top: 5px;
    width: 12px;
  }
  input[type="radio"]:checked:after {
    background-color: #6fa98f;
  }
}

.style__modern {
  .feedback-header {
    background-color: #00e883;
  }
}
