// ------------
.page-footer {
  background-color: $footerBgColor;
  padding: 30px;
  color: $footerFgColor;
  white-space: nowrap;
  letter-spacing: 0;
  position: relative;
  font-size: 1.083rem;
  z-index: 1000;

  svg {
    display: block;
  }

  @include mobile-footer {
    text-align: center;
    white-space: nowrap;
    padding: 15px;
  }

  a {
    color: $footerFgColor;
    display: inline-block;

    @include mobile-footer {
      display: inline-block;
    }

    &:hover {
      color: $panelLinkHoverColor;

      .icon {
        fill: $panelLinkHoverColor;
      }
    }
  }
  p {
    margin-top: 0;

  }

  ul {
    @include reset-list-style;
    margin: 0;
    padding: 0;

    @include mobile-footer {
      display: inline-block;
    }

    li {
      padding: 0;
      margin: 0 0 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .page-footer--row {
    @include clearfix;
  }
  .page-footer--block {
    width: 25%;
    float: left;
    display: inline-block;
    position: relative;
  }
  .page-footer--separator {
    @include clearfix;
    clear: left;
    background-color: #181A1C;
    height: 1px;
    border: none;
    margin: 0 0 20px 0;

    @include mobile-footer {
      margin: 10px 0;
    }
  }
  .page-footer--social-links {
    vertical-align: top;
    @include horizontal-list(20px);

    .page-footer--social-link {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin: 0 20px 0 0;
      padding: 0;

      @include mobile-footer {
        height: 18px;

        svg {
          height: 18px;
        }
      }
    }
  }
  .page-footer--design-links {
    vertical-align: top;
    @include horizontal-list(20px);

    .page-footer--design-link {
      height: 24px;
      display: inline-block;
      margin: 0 20px 0 0;
      padding: 0;

      @include mobile-footer {
        width: auto;
        height: 18px;

        svg {
          width: 21px;
        }
      }

      a {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .page-footer--design-link-re {
      position: relative;
      margin-top: 3px;

      svg {
        @include mobile-footer {
          width: auto;
          height: 11px;
        }
      }
    }
    .page-footer--design-link-dribble {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
  .page-footer--payment-items {
    @include horizontal-list(20px);
    position: absolute;
    top: 85px;

    .page-footer--payment-item {
      // width: 24px;
      // height: 24px;
      display: inline-block;
      // background-color: #181A1C;
      margin: 0 20px 0 0;
      padding: 0;
      vertical-align: bottom;
    }
  }
  .page-footer--app-items {
    @include horizontal-list(20px);
    position: absolute;
    min-width: 212px;
    top: 80px;

    .page-footer--app-item {
      margin: 0 10px 0 0;
      padding: 0;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }

    .page-footer--app-item--apple {
      width: 101px;
      height: 31px;
      display: inline-block;
      background: transparent url('../static/images/apps-sprite.png') left top no-repeat;

      &:hover {
        background-position: 0 -31px;
      }
    }

    .page-footer--app-item--google {
      width: 101px;
      height: 31px;
      display: inline-block;
      background: transparent url('../static/images/apps-sprite.png') -103px 0 no-repeat;

      &:hover {
        background-position: -103px -31px;
      }
    }
  }
}

.style__modern {
  .page-footer {
    background-color: #170e48;
    color: #514a76;

    a {
      color: #514a76;
    }

    svg {
      path {
        fill: #514a76;
      }
    }

    .page-footer--separator {
      background-color: #231a51;
    }
  }
}
