.form {
  label {
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #303337;
    display: block;
    margin: 0 0 15px 1px;
  }

  .text-input {
    border: 1px solid #d6d9df;
    padding: 13px 15px;
  }
  input[type=text],
  input[type=password],
  textarea {
    background-color: transparent;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.667rem;
    line-height: 1.667rem;
    color: #303337;
  }
  textarea {
    min-height: 150px;
  }

  .button {
    display: block;
    padding: 20px;
    width: 100%;
    border: none;
    @include border-radius(4px);
    background-color: #6fa98f;
    color: #fff;
    font-size: 2.167rem;
    font-weight: bolder;
  }

  .delivery-input {
    border: 1px solid #d6d9df;
    position: relative;
    @include clearfix;

    &:after {
      display: block;
      content: "";
      width: 1px;
      background-color: #d6d9df;
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
    }

    .delivery-left,
    .delivery-right {
      width: 50%;
      padding: 23px 23px 23px 58px;
    }

    .delivery-left {
      float: left;
    }

    .delivery-right {
      float: right;
    }
  }
}
