.page-header {
  height: $pageHeaderHeight;
  line-height: $pageHeaderHeight - 1;
  background-color: $panelBgColor;
  padding: 0 32px;
  text-transform: uppercase;
  color: $panelFgColor;
  position: relative;
  z-index: 20;

  .page-header--item {
    text-decoration: none;
    margin-right: 32px;
    letter-spacing: 0.2em;
    position: relative;
    z-index: 2;
  }
  .page-header--right-block {
    float: right;
    width: 35%;
    position: relative;
    z-index: 2;

    .page-header--item {
      margin: 0 0 0 32px;
    }

    .page-header--phone {
      font-size: 1.5rem;
      font-family: 'Proxima Nova Bold';
    }
  }
  &.page-header--transparent {
    background-color: transparent;
    margin-bottom: -$pageHeaderHeight;
    position: relative;
    z-index: 50;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 150px;
      @include background(linear-gradient(to bottom, black, transparent));
      opacity: .15;
      z-index: 1;
    }
  }

  .page-header--cabinet {
    float: right;
  }
  .burger-icon {
    float: right;
    margin-left: 30px;
  }
}

// ------------
.page-nav {
  width: 100%;
  height: $pageNavHeight;
  line-height: $pageNavHeight;
  background-color: $panelBgColor;
  text-align: center;
  color: $panelFgColor;
  font-size: 1.667rem;
  font-weight: bold;

  .page-nav--item {
    width: $pageNavHeight;
    height: $pageNavHeight;
    display: inline-block;
  }

  .page-nav--prev {
    float: left;
  }
  .page-nav--next {
    float: right;
  }
  .page-nav--pages {
    display: inline-block;
    margin: 0 auto;

    .active {
      background-color: #191C20;
    }
  }
}

.style__modern {
  .page-nav {
    background-color: #ae033e;

    .page-nav--pages {
      .active {
        background-color: #890936;
      }
    }

    .page-nav--item {
      path {
        stroke: #890936;

        &:hover {
          stroke: #fff;
        }
      }
    }
  }
}


.mobile-header {
  height: 60px;
  text-align: center;
  background-color: $panelBgColor;

  @include w320 {
    width: 100%;
    z-index: 1000;
  }

  &.mobile-header--transparent {
    background-color: transparent;

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 150px;
      @include background(linear-gradient(to bottom, black, transparent));
      opacity: .15;
      z-index: 1;
    }
  }
  &.mobile-header--absolute {
    position: absolute;
  }

  .switcher {
    margin-top: 15px;
    position: relative;
    z-index: 10;
  }

  .mobile-header--basket {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 10;
  }

  .mobile-menu {

    .mobile-menu--icon {
      position: absolute;
      top: 22px;
      right: 30px;
      z-index: 10;
    }
  }

  .mobile-menu--hovering-menu {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #191c20;
    color: rgba(255, 255, 255, .75);

    .mobile-menu--hovering-menu--close {
      position: absolute;
      top: 28px;
      right: 20px;
    }

    ul {
      margin: 30px 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;

      li {
        margin: 30px 0;
        padding: 0;
        letter-spacing: .3em;
      }
    }

    .mobile-menu--hovering-menu--langs {
      margin: 0;
      position: absolute;
      top: 30px;
      left: 20px;
      letter-spacing: .3em;

      .active {
        text-transform: uppercase;
      }
      ul {
        margin: 0;
        display: none;
      }

      li {
        margin: 5px 0 0;
      }
    }

    hr {
      background-color: #303337;
      height: 1px;
      width: 180px;
      opacity: .5;
      border: none;
    }

    .mobile-menu--hovering-menu--phone {
      background-color: #303337;
      padding: 30px 0;
      font-size: 1.5rem;
    }
  }
}


.style__modern {
  .page-header {
    background-color: #ae033e;

    &.page-header--transparent {
      background-color: transparent;
    }
  }
}
