.index-header {
  // min-height: 730px;
  position: relative;
  background: transparent url('../static/images/index-header-bg.jpg') center center no-repeat;
  background-size: cover;

  @include w320 {
    text-align: center;
    min-height: 336px;
    margin-top: -60px;
  }
  @include w750 {
    text-align: center;
    min-height: 546px;
    margin-top: -60px;
  }
  @include w1900 {
    height: 730px;
  }

  // @include tablet {
  //   min-height: 545px;
  //   text-align: center;
  //   margin-top: -60px;
  // }

  .index-header-inner {
    padding: 110px 0 60px;

    #calligraphy {
      display: block;
      max-width: 750px;
      width: 85%;
      height: 427px;
      margin: 0 auto 10px;

      @include mobile {
        height: auto;
        padding: 90px auto 70px;
      }

      @include tablet {
        height: auto;
        padding: 90px auto 40px;
      }
    }

    .read-manifest {
      display: block;
      width: 255px;
      margin: 0px auto 40px;

      @include mobile {
        display: none;
      }
    }

    .mouse {
      margin: 43px auto 0;
      width: 22px;

      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }
  }
}

.index-slider {
  .index-slider--icons {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -80px;

    .index-slider--icon {
      width: 31px;
      height: 31px;
      margin: 14px 14px 30px;
      position: relative;
      cursor: pointer;

      svg {
        position: absolute;
        top: -6px;
        left: -6px;
      }
    }
  }
}
