.instagram-block {
  padding: 60px;
  background-color: #1f2226;
  color: #8e8e93;
  font-size: 1.333rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;

  @include w320 {
    padding: 30px 15px;
  }

  .inst-title {
    position: relative;
    padding-left: 33px;

    @include w320 {
      font-size: 1.2rem;
      padding-left: 20px;
    }
    svg {
      position: absolute;
      left: 0;
      top: -5px;
      @include w320 {
        width: 10px;
      }
    }
    .icon {
      fill: #8e8e93;
    }
  }

  .inst-arrows {
    float: right;

    @include w320 {
      display: none;
    }
    .inst-arrow {
      display: inline-block;
      width: 15px;
      height: 10px;
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        .inst-arrow-path {
          stroke: #6fa98f;
        }
      }
    }
  }

  .photos {
    margin: 30px 0;
    overflow: hidden;
    @include clearfix;

    @include w320 {
      margin: 15px 0;
    }
    .photo {
      width: 273px;
      margin-right: 33px;
      float: left;

      @include w320 {
        width: 128px;
        height: 128px;
        margin-right: 15px;
      }

      img {
        @include w320 {
          width: 128px;
          height: 128px;
        }
      }
    }
  }

  .instagram-block--footer {
    clear: both;

    .text {
      display: block;
      max-width: 450px;
      margin-right: 290px;
      font: italic 1rem "Proxima Nova Light";

      span {
        color: #6fa98f;
      }
      @include w320 {
        max-width: none;
        margin-right: 0;
      }
    }

    .tag {
      float: right;
      font: normal 2.667rem "Proxima Nova Bold";
      color: #6fa98f;
      text-transform: uppercase;

      @include w320 {
        display: none;
      }
    }
  }
}


.style__modern {
  .instagram-block {
    background-color: #170e48;
  }

  .instagram-block--footer {
    .tag,
    .text span {
      color: #00e883;
    }
  }

  .inst-arrows {
    .inst-arrow {

      &:hover {
        .inst-arrow-path {
          stroke: #00e883;
        }
      }
    }
  }
}
