.likes-block {
  background-color: #e9ecf2;
  height: 235px;
  position: relative;
  z-index: 2;
  cursor: pointer;

  .likes-block--button {
    width: 117px;
    height: 117px;
    background-color: #80b89f;
    border-radius: 117px;
    line-height: 117px;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family: "Proxima Nova Bold";
    position: absolute;
    top: 50%; left: 50%;
    margin: -58px 0 0 -58px;

    span {
      position: relative;
      z-index: 10;
    }

    .likes-block--button-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -38px 0 0 -28px;
      width: 55px;
      height: 55px;
      z-index: 1;
    }

    .likes-block--count {
      position: absolute;
      width: 35px;
      height: 35px;
      line-height: 35px;
      border-radius: 35px;
      border: 1px solid #bbbec3;
      right: -80px;
      top: 50%;
      margin-top: -17px;
      font-size: 0.8333rem;
      font-family: "Proxima Nova";
      color: #8e8e93;
    }
  }
}


.style__modern {
  .likes-block .likes-block--button {
    background-color: #00e883;
  }
}
