.listing {
  font-size: 0;
  @include column-count(1);
  background-color: #030303;

  .listing-item {
    position: relative;
    width: 25%;
    display: inline-block;
    height: 405px;
    font-size: 1rem;
    vertical-align: top;
    overflow: hidden;

    &.listing-item_announcement {

      &:before {
        display: block;
        content: '';
        position: absolute; z-index: 1;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(0, 0, 0, .3);
      }

      .listing-item_announcement__img {
        position: absolute;
        top: 75px;
        left: 50%;

        img {
          position: relative;
          left: -50%;

          &.poster {
            height: 300px;
            width: 196px;
            padding: 42px 35px;
          }
          &.wallpaper {
            height: 130px;
          }
        }
      }


      .listing-item_announcement__content {
        position: absolute; z-index: 2;
        top: 0; right: 0; bottom: 0; left: 0;

        h3 {
          color: #fff;
          font-size: 1.333rem;
          font-family: 'Proxima Nova';
          margin: 20px 90px;
          text-align: center;
        }

        .listing-item_announcement__input {
          position: absolute;
          right: 30px; bottom: 30px; left: 30px;
        }

        .countdown {
          margin-top: 100px;
          font-size: 2.833rem;
          line-height: 1.667rem;

          .countdown-block {
            width: 70px;

            .countdown-text {
              font-size: 0.8333rem;
            }
          }
        }
      }
    }


    @include w320 {
      width: 100%;
      height: 320px;
    }
    @media (min-width: 480px) and (max-width: 681px) {
      width: 50%;
      height: 280px;
    }
    @include w750 {
      width: 50%;
      height: 360px;
    }
    @include w1000 {
      width: 33.3333333%;
      height: 310px;
    }
    @include w1200 {
      width: 33.3333333%;
      height: 360px;
    }
  }


  .likes-counter {
    position: absolute;
    top: 30px;
    right: 22px;
  }

  .collection-badge {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .item {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    img {
      vertical-align: bottom;
    }
  }

  .collection-item {
    top: 57px;
    height: 100%;

    @include w320 {
      width: 80%;
    }
    @media (min-width: 480px) and (max-width: 681px) {
      width: 80%;
    }
    @include w750 {
      width: 80%;
    }
    @include w1000 {
      width: 70%;
    }
    @include w1200 {
      width: 80%;
    }
  }
}
