.loading-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #191c20;
  background-position: center center;

  .loading-screen--cat {
    width: 71px;
    height: 71px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 34px);
    overflow: hidden;

    .loading-screen--loader {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      height: 0;

      img {
        width: 71px;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
