// ------------

.main-menu {
  background-color: $mainMenuBgColor;
  padding: 34px 0;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  letter-spacing: 0.3em;
  min-height: 700px;


  @include mobile {
    display: none;
    position: absolute;
  }

  @include tablet {
    display: none;
    position: absolute;
  }

  @include w1000 {
    display: none;
  }

  @include w1200 {
    width: 200px;
  }
  @include w1900 {
    width: 300px;
  }


  .main-menu--langs {
    @include horizontal-list(16px);
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    &:last-child {
      margin-right: 0;
    }
    a {
      color: $mainMenuDefaultColor;
      &:hover {
        color: $panelLinkHoverColor;
      }
    }
  }

  .main-menu--logo {
    display: block;
    margin: 0 auto;
    width: 140px;
    position: relative;

    .main-menu--logo--text {
      display: block;
      width: 140px;
      height: 135px;
    }
    .main-menu--logo--cat {
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 70px;
      height: 66px;
      margin: -35px 0 0 -35px;
      background-size: 70px auto;
    }
    &:hover {
      .main-menu--logo--text {
        fill: $panelLinkHoverColor;
      }
    }
  }

  .main-menu--basket-link {
    display: block;
    position: relative;
    width: 60px;
    height: 80px;
    margin: 40px auto;

    svg {
      margin: 0 auto;
    }

    .main-menu--basket-link--text {
      font-size: 0.5833rem;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    .basket-logo {
      display: block;
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    &:hover .basket-logo--circle {
      fill: $panelLinkHoverColor;
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .badge {
    position: absolute;
    background-color: #ab100a;
    color: #fff;
    display: inline-block;
    @include border-radius(15px, 15px);
    // @include font-size(0.75);
    height: 20px;
    line-height: 20px;
    min-width: 20px;
    letter-spacing: normal;
  }

  .main-menu--items {
    @include reset-list-style;
    margin: 0 0 45px;
    padding: 0;

    li {
      margin: 0 0 40px;
      padding: 0;
      text-transform: uppercase;

      &.item0 a:hover {
        color: #80b89f;
      }
      &.item1 a:hover {
        color: #6492b8;
      }
      &.item2 a:hover {
        color: #e7c55a;
      }
      &.item3 a:hover {
        color: #7bb764;
      }

      a {
        cursor: pointer;
      }
    }
  }

  .switcher-container {
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    height: 30px;
  }
}

@include w1000 {
  .opened-menu {
    .layout {
      right: 200px;
    }
    .main-menu {
      display: block;
      width: 200px;
      position: fixed;
    }
  }
}


.style__modern {
  .main-menu {
    background-color: #330354;

    .main-menu--langs {
      color: #14d480;
    }

    .main-menu--items {
      a {
        color: #14d480;
      }
    }

    .main-menu--basket-link {
      color: #14d480;

      .basket-logo--circle {
        fill: #14d480;
      }
    }
  }
}
