$mobile-landscape-width: 480px;

$tablet-portrait-width: 768px;
$tablet-lanscape-width: 1024px;


@mixin mobile {
  @media (max-width: 960px) {
    @content;
  }
}
@mixin mobile-footer {
  @media (max-width: #{$tablet-portrait-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-landscape-width + 1px}) and (max-width: #{$tablet-lanscape-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-lanscape-width}) {
    @content;
  }
}

@mixin w320 {
  @media (max-width: 680px), (max-device-width: 680px) {
    @content;
  }
}

@mixin w750 {
  @media (min-width: 681px) and (max-width: 960px), (min-device-width: 681px) and (max-device-width: 960px) {
    @content;
  }
}

@mixin w1000 {
  @media (min-width: 961px) and (max-width: 1200px) {
    @content;
  }
}

@mixin w1200 {
  @media (min-width: 1201px) and (max-width: 1600px) {
    @content;
  }
}
@mixin w1900 {
  @media (min-width: 1601px) {
    @content;
  }
}


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
