.other-types {
  position: relative;
  z-index: 100;
  @include clearfix;

  .other-type {
    width: 50%;
    height: 256px;
    float: left;
    font: normal 3.167rem/3.167rem "Proxima Nova Bold";
    position: relative;

    @include w320 {
      float: none;
      height: 85px;
      width: 100%;
      display: block;
      margin-bottom: 1px;
      overflow: hidden;
    }
    img {
      transform: scale(.3);
      transform-origin: 50% 0;

      @include w320 {
        transform: scale(.1);
        margin: 15px 0 0 25px;
        transform-origin: 0 0;
      }
      @include w750 {
        margin: 80px auto 0;
        display: block;
      }
      @include w1000 {
        margin: 80px auto 0;
        display: block;
      }
      @include w1200 {
        display: block;
        margin: 80px auto 0;
      }
      @include w1900 {
        margin: 60px 0 0 60px;
        transform-origin: 0 0;
      }
    }

    span {
      position: absolute;
      width: 100%;
      text-align: center;
      font: normal 3.167rem "Proxima Nova";

      @include w320 {
        font-size: 1.5rem;
        text-align: left;
        margin-left: 100px;
        top: 34px;
      }
      @include w750 {
        top: 30px;
        margin: 0 auto;
        font-size: 2.167rem;
      }
      @include w1000 {
        top: 30px;
        margin: 0 auto;
        font-size: 2.167rem;
      }
      @include w1200 {
        top: 30px;
        margin: 0 auto;
        font-size: 2.167rem;
      }
      @include w1900 {
        top: 50%;
        margin: -18px 0 0 10%;
        font-family: 'Proxima Nova Bold';
      }
    }
    &.other-type-tshirt {
      background: $vintageTshirtBgColor url('../static/images/tshirt-bg.png') center center;
      background-size: 80px auto;

      img {
        @include w320 {
          transform: scale(.16);
          margin-left: 16px;
        }
        @include w750 {
          transform: scale(.5);
        }
        @include w1000 {
          transform: scale(.5);
        }
        @include w1200 {
          transform: scale(.5);
        }
        @include w1900 {
          transform: scale(.5);
        }
      }
    }
    &.other-type-wallpaper {
      background: $vintageWallpaperBgColor url('../static/images/wallpaper-bg.png') center center;
      background-size: 80px auto;

      img {
        @include w750 {
          position: absolute;
          left: 50%;
          margin-left: -260px;
        }
        @include w1000 {
          position: absolute;
          left: 50%;
          margin-left: -260px;
        }
        @include w1200 {
          position: absolute;
          left: 50%;
          margin-left: -260px;
        }
      }
    }
    &.other-type-poster {
      background: $modernPosterBgColor url('../static/images/poster-bg.png') center center;

      img {
        @include w320 {
          margin-left: 18px;
        }
        @include w750 {
          position: absolute;
          left: 50%;
          margin-left: -330px;
        }
        @include w1000 {
          position: absolute;
          left: 50%;
          margin-left: -330px;
        }
        @include w1200 {
          position: absolute;
          left: 50%;
          margin-left: -330px;
        }
      }
    }

    &:hover {
      color: #fff;
    }
  }
}


.style__modern {
  .other-types .other-type.other-type-tshirt {
    background-color: $modernTshirtBgColor;
  }
  .other-types .other-type.other-type-wallpaper {
    background-color: $modernWallpaperBgColor;
  }
  .other-types .other-type.other-type-poster {
    background-color: $modernPosterBgColor;
  }
}
