.content-header--posters {
  background: #7cb765 url(../static/images/poster-bg.png) repeat center 100px;
  background-size: 280px auto;

  .title {
    &:before {
      content: url(../static/images/posters-header-icon.png);
      top: -111px;
      left: calc(50% - 3px);
    }
  }
}

.style__modern {
  .content-header--posters {
    background-color: #079690;
  }
}
