.registration {
  padding: 18px 30px 30px;
  height: 160px;
  background-color: $mainMenuBgColor;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8333rem;
  text-align: justify;

  .registration-block {
    @include inline-block;

    .text-input {
      background-color: #000;
      padding: 15px;
      height: 50px;

      input {
        background-color: transparent;
        border: 0;
        outline: none;
        height: 20px;
        line-height: 20px;
        width: 100%;
        color: #fff !important;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .2em;

        @include placeholder {
          color: #40454b;
        }

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px black inset;
          -webkit-text-fill-color: white;
        }
      }
    }

    .button {
      border: none;
      background-color: #80b89f;
      font-weight: bold;
      font-size: 1.5rem;
      height: 50px;
      padding: 0;
      margin: 0;
      width: 100%;
      @include border-radius(5px);
    }


    &.registration-block--links {
      float: right;
      height: 28px;
      line-height: 28px;
      letter-spacing: 0.1em;
      font-weight: bold;

      a {
        margin-left: 30px;
        font-weight: normal;
        font-size: 1rem;
        color: #6f7072;

        &:hover {
          color: #fff;
        }

        svg {
          margin-right: 10px;
          vertical-align: middle;
          position: relative;

          .icon {
            fill: $panelLinkHoverColor;
          }
        }

        &.vk svg {
          width: 20px;
          height: 14px;
          top: -1px;
        }

        &.fb svg {
          width: 14px;
          height: 14px;
          top: -2px;
        }

        &.tw svg {
          width: 14px;
          height: 14px;
        }
      }
    }
  }


  .registration--form {
    margin-top: 30px;

    .registration-block {
      width: 30%;
      margin-right: 5%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .registration--login-form {
    .registration-block {
      width: 30%;
      margin-right: 5%;

      &.registration-block-button {
        width: 15%;
      }

      &:last-child {
        width: 10%;
        margin-right: 0;
        letter-spacing: .2em;
        white-space: nowrap;
        text-align: right;

        a {
          color: $panelLinkHoverColor;
        }
      }
    }
  }

  .registration--forget-form {
    .registration-block {
      width: 65%;
      margin-right: 5%;

      &.registration-block-button {
        width: 15%;
      }

      &:last-child {
        width: 10%;
        margin-right: 0;
        letter-spacing: .2em;
        white-space: nowrap;
        text-align: right;

        a {
          color: $panelLinkHoverColor;
        }
      }
    }
  }


  .switcher {
    a {
      width: 110px;
    }
  }
}

.style__modern {
  .registration .registration-block .button {
    background-color: #00e883;
  }
}
