$vintageBgColor: #000;
$vintageFgColor: #25282c;

$modernFgColor: #514a76;
$modernBgColor: #170e48;

.sale-container {
  height: 200px;
  background-color: $vintageBgColor;
  position: relative;
  z-index: 10;
  color: $vintageFgColor;
  font: normal 11.67rem/200px "Proxima Nova Light";
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;

  @include w320 {
    background: #000 url('../static/images/sale-lines.png') center center no-repeat;
    height: 100px;
  }

  &:before,
  &:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: transparent url('../static/images/sale-edge.png') left top repeat-x;
  }
  &:before {
    top: -3px;
  }
  &:after {
    bottom: -3px;
    transform: rotate(180deg);
  }
  span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;

    &.sep {
      min-width: 55px;
      max-width: 100px;

      @include w320 {
        display: none;
      }
      @include w750 {
        display: none;
      }

      @include w1900 {
        display: none;
      }
    }

    &:after {
      display: block;
      content: "";
      width: 1px;
      height: 90px;
      background-color: $vintageFgColor;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -45px;

      @include w320 {
        display: none;
      }
      @include w750 {
        left: 0;
      }
      @include w1000 {
        display: none;
      }

      @include w1200 {
        display: none;
      }
    }
  }
  .text {
    letter-spacing: 0.180em;

    @include w320 {
      position: absolute;
      transform: rotate(-90deg);
      font-family: 'Proxima Nova Black';
      font-size: .8rem;
      left: 50%; top: -50px;
      margin-left: -152px;

      &:after, &:before {
        display: none;
      }
    }
    @include w750 {
      font-size: 1.25rem;
      vertical-align: middle;
      font-family: 'Proxima Nova Black';
      min-width: auto;
      position: absolute;
      left: 50%; top: 10px;
      margin-left: -340px;
      transform: rotate(-90deg);
      width: 75px;

      &:after {
        display: none;
      }
    }
    @include w1000 {
      font-size: 3.917rem;
      vertical-align: middle;
      font-family: 'Proxima Nova Black';
      position: relative;

      &:after, &:before {
        display: block;
        content: '';
        height: 1px;
        width: 245px;
        position: absolute;
        top: 45px;
        left: 50%;
        margin: 0 0 0 -122px;
        background-color: $vintageFgColor;
      }
      &:before {
        top: 150px;
      }
    }
    @include w1200 {
      font-size: 3.917rem;
      vertical-align: middle;
      font-family: 'Proxima Nova Black';
      position: relative;

      &:after, &:before {
        display: block;
        content: '';
        height: 1px;
        width: 245px;
        position: absolute;
        top: 45px;
        left: 50%;
        margin: 0 0 0 -122px;
        background-color: $vintageFgColor;
      }
      &:before {
        top: 150px;
      }
    }

    @include w1900 {
      margin-right: 80px;
      &:before {
        display: none;
      }
      &:after {
        right: -32px;
      }
    }
  }
  .sale-percents {
    font-family: "Proxima Nova Black";
    letter-spacing: .073em;
    width: 295px;
    height: 200px;

    @include w320 {
      font-size: 2rem;
      position: absolute;
      transform: rotate(-90deg);
      left: 50%; top: -50px;
      margin-left: -233px;
    }
    @include w750 {
      font-size: 7.6rem;
      vertical-align: top;
      min-width: none;
      top: 10px;

      &:after {
        left: 30px;
      }
    }
    @include w1900 {
      margin-right: 80px;
      &:before {
        display: none;
      }
      &:after {
        right: -32px;
      }
    }
  }

  .types {
    width: 300px;
    height: 200px;
    background: url('../static/images/sale-types.png') no-repeat center center;

    @include w320 {
      zoom: .5;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -76px;
    }
    &:after {
      display: none;
      min-width: none;

      @include w750 {
        display: block;
        left: -30px;
      }
    }

    @include w1900 {
      &:before {
        display: none;
      }
    }
  }
}


.style__modern {
  .sale-container {
    background-color: $modernBgColor;
    color: $modernFgColor;

    span {
      &:after,
      &:before {
        background-color: $modernFgColor;
      }
    }

    .text {
      &:after,
      &:before {
        background-color: $modernFgColor;
      }
    }
  }
}
