.static-page-block {
  @include clearfix;

  .static-page-block--content {
    max-width: 1200px;
    margin: 0 auto 60px;

    h2 {
      margin: 60px auto;
      font-size: 2.667rem;
      font-family: "Proxima Nova";
    }

    p {
      margin: 60px auto;
      font-size: 2rem;
    }

    a {
      color: #6fa98f;
    }
  }
}
