// -----------------------
.switcher {
  border: 1px solid rgba(255, 255, 255, .25);
  @include border-radius(20px);
  height: 30px;
  line-height: 30px;
  font-size: 0.8333rem;
  font-family: 'Proxima Nova Bold';
  display: inline-block;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;

  &.switcher-light {
    border-color: rgba(255, 255, 255, .25);
  }
  &.switcher-grey {
    border-color: rgba(48, 51, 55, .1);

    a {
      color: #303337;
      opacity: 1;
    }
  }
  &.switcher-dark {
    border-color: rgb(0, 0, 0);
    background-color: #000;

    a {
      color: #fff;
      opacity: 1;
    }
  }

  .switcher-wrap {
    position: relative;
    margin: 2px 3px;
    height: 24px;
    line-height: 24px;
  }

  a {
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 2;
    opacity: .25;

    &.switcher--active-el {
      color: #191c20;
      opacity: 1;

      &:hover {
        color: #191c20;
      }
    }
  }
  .switcher--active-bg {
    position: absolute;
    z-index: 1;
    display: inline-block;
    height: 22px;
    @include border-radius(20px);
    background-color: #fff;
    left: 1px;
    top: 1px;
    transition: .4s;
  }
}
