.tshirts-header {
  height: 265px;
  background: #6492b8 url(../static/images/tshirt-bg.png) repeat center 100px;
  text-align: center;
  position: relative;

  @include w320 {
    height: 137px;
    background-size: auto 80%;
  }
  @media (min-width: 480px) and (max-width: 681px) {
    height: 265px;
  }

  .title {
    color: #fff;
    font-size: 4.333rem;
    font-family: "Proxima Nova Bold";
    font-weight: 700;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 52px;
    text-align: center;

    @include w320 {
      font-size: 2.167rem;
      bottom: 30px;
    }
    @media (min-width: 480px) and (max-width: 681px) {
      font-size: 4.333rem;
    }

    &:before {
      display: block;
      content: "";
      background: url(../static/images/tshirts-icon.png) no-repeat;
      width: 97px;
      height: 94px;
      position: absolute;
      left: 50%;
      top: -98px;
      margin-left: -49px;

      @include w320 {
        height: (94px * .8);
        background-size: auto 66%;
        top: -54px;
        margin-left: -25px;
      }
      @media (min-width: 480px) and (max-width: 681px) {
        height: 94px;
        background-size: auto 100%;
        top: -119px;
        margin-left: -49px;
      }
    }
  }
}

.tshirt-view__sex-switcher {
  position: relative;
  text-align: center;
  z-index: 100;
  margin: -15px 0;

  .switcher {
    // position: absolute;
    // left: -50%;
    // top: -15px;
  }
}

.style__modern {
  .tshirts-header {
    background-color: #0081ff;
  }
}
