.wallpapers-widget {
  background-color: #1f2226;
  min-height: 490px;
  position: relative;
  z-index: 2;
  overflow: hidden;

  @include mobile {
    min-height: 529px;
  }

  .wallpapers-widget--text {
    margin-left: 50%;

    @include mobile {
      margin: 30px 0;
      position: absolute;
      left: 0; right: 0; bottom: 0;
      text-align: center;
    }

    h3 {
      font: normal 2.667rem "Proxima Nova Bold";
      color: #fff;
      letter-spacing: 0.075em;
      margin: 0;
      padding: 115px 0 30px 30px;

      @include mobile {
        font-size: 2.167rem;
        padding: 0 0 24px;
      }
    }

    .appStore {
      display: inline-block;
      text-indent: -9999px;
      width: 151px;
      height: 45px;
      background: transparent url(../static/images/wallpapers-widget-sprite.png) left top no-repeat;
      margin: 0 25px 0 30px;

      @include mobile {
        margin: 0 10px 0 0;
      }
    }
    .googlePlay {
      text-indent: -9999px;
      display: inline-block;
      width: 129px;
      height: 45px;
      background: transparent url(../static/images/wallpapers-widget-sprite.png) -174px top no-repeat;
    }
    .wallpapers-widget--links {
      font: normal 2rem "Proxima Nova";
      margin-top: 55px;

      @include mobile {
        color: #fff;
        font-size: 1.667rem;
        font-family: "Proxima Nova extrabold";
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 0;
        top: -100px;
        height: 45px;
        z-index: 2;

        .dots {
          position: absolute;
          bottom: -30px;
          left: 0; right: 0;
          text-align: center;

          a {
            display: inline-block;
            border: 1px solid #fff;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            margin: 0 5px;

            &.active {
              background-color: #fff;
            }
          }
        }
      }

      div {
        margin-bottom: 20px;

        @include mobile {
          margin-bottom: 0px;
          position: absolute;
          bottom: 0; left: 55px; right: 55px;
          text-align: center;
          opacity: 0;
          transition: .4s;

          &.active {
            opacity: 1;
          }
        }

        &:before {
          content: "–";
          display: inline-block;
          width: 30px;
          color: #fff;

          @include mobile {
            display: none;
          }
        }
      }
      a {
        color: #80b89f;
        border-bottom: 1px dotted #80b89f;

        &:hover,
        &.active {
          color: #fff;
          border-bottom-color: 1px dotted #fff;
        }
      }
    }
  }

  .wallpapers-widget--phones {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 385px;
    height: 426px;

    @include mobile {
      left: 0;
      bottom: auto;
      top: 30px;
      left: 50%;
      margin-left: -138px;
      transform: scale(.73);
      transform-origin: 0 0;
      z-index: 1;

      &:after {
        display: block;
        content: "";
        width: 100%;
        height: 400px;
        position: absolute;
        bottom: -60px;
        right: 0;
        left: 0;
        background: linear-gradient(rgba(31, 34, 38, 0), rgba(31, 34, 38, 1));
        z-index: 10;
      }
    }

    div {
      position: absolute;
      bottom: 0;
    }

    .gallery {
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      letter-spacing: -4px;
    }

    .iphone {
      left: 0;
      z-index: 2;
      width: 234px;
      height: 487px;
      bottom: -61px;
      background: transparent url(../static/images/wallpapers-widget-sprite.png) left -47px no-repeat;

      .gallery {
        top: 60px;
        width: 206px;
        height: 366px;
        left: 15px;

        .slides {
          transition: .4s;
        }
      }
    }
    .android {
      right: 0;
      z-index: 1;
      width: 210px;
      height: 409px;
      bottom: -39px;
      background: transparent url(../static/images/wallpapers-widget-sprite.png) -235px -102px no-repeat;

      .gallery {
        width: 189px;
        height: 312px;
        left: 10px;
        top: 34px;

        .slides {
          transition: .4s;
        }
      }
    }
  }
}
