.content-header--wallpapers {
  background: #e7c55a url(../static/images/wallpaper-bg.png) repeat center 83px;

  .title {
    &:before {
      content: url(../static/images/wallpaper-icon.png);
      top: -114px;
      left: calc(50% - 2px);
    }
  }
}

.style__modern {
  .content-header--wallpapers {
    background-color: #ea7838;
  }
}
